@model Book

<div class="container">
    <h2 class="my-4">Информация о книге</h2>

    <div class="card">
        <div class="card-header">
            <h3>@Model.Title</h3>
        </div>
        <div class="card-body">
            <p><strong>Автор:</strong> @Model.Author</p>
            <p><strong>Год издания:</strong> @Model.PublicationYear</p>
            <p><strong>Цена:</strong> @Model.Price euro.</p>
            <p><strong>Дата добавления:</strong> @Model.CreatedAt.ToLocalTime()</p>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
            <form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger"
                        onclick="return confirm('Вы уверены, что хотите удалить эту книгу?');">
                    Удалить книгу
                </button>
            </form>
        </div>
    </div>
</div>